{% extends 'base.html' %} {% block title %}Patient Detail | CerviScan{% endblock
%} {% block content %}
<div class="page-container">
    <div class="section-container patient-card">
        <h1>Patient Profile</h1>
        <form
            action="/"
            method="POST"
            enctype="multipart/form-data"
            class="form"
        >
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input
                    type="text"
                    id="first_name"
                    name="first_name"
                    value="{{ entry.name.split(' ')[0] }}"
                    disabled
                />
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input
                    type="text"
                    id="last_name"
                    name="last_name"
                    value="{{ entry.name.split(' ')[1] }}"
                    disabled
                />
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input
                    type="date"
                    id="dob"
                    name="dob"
                    value="{{ entry.dob }}"
                    disabled
                />
            </div>
        </form>
    </div>
    <div class="section-container results-container">
        <h1>Results</h1>
        <div id="results-tag-index-page">
            {% if entry.prediction == "normal" %}
            <div class="tag normal">
                <p>Normal</p>
            </div>
            {% else %}
            <div class="tag abnormal">
                <p>Abnormal</p>
            </div>
            {% endif %}
            <div class="tag date">
                <p>{{ entry.date.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            </div>
        </div>
        <h1>Details</h1>
        <ul>
            <li>1. VIA Image</li>
            <div>
                <img src="../static/uploads\\{{entry.original.split("\\")[-1]}}"
                alt="IVA Image" />
            </div>
            <li>2. Gray Image</li>
            <div>
                <img src="../static/processed\\{{entry.gray.split("\\")[-1]}}"
                alt="gray image" />
            </div>
            <li>3. Mask Image</li>
            <div>
                <img src="../static/processed\\{{entry.mask.split("\\")[-1]}}"
                alt="mask image" />
            </div>
            <li>4. Segmented Image</li>
            <div>
                <img
                src="../static/processed\\{{entry.segmented.split("\\")[-1]}}"
                alt="segmented image" />
            </div>
        </ul>
    </div>
</div>
{% endblock %}
